.Header {
  background-color: #222;
  flex: 0 1 auto;
  padding: 10px;
  display: flex;
  color: white;
  justify-content: center;
  .logo {
    animation: Header-logo-spin infinite 3s linear;
    height: 45px;
    padding: 25px;
  }
  .title {
    text-align: center;
    font-size: 2em;

  }
}

@keyframes Header-logo-spin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.75);
  }
  100% {
    transform: scale(1);
  }
}
